##########################
#### Unreal Generated ####
##########################
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Itermediate
*/Saved

##########################
###### VS Generated ######
##########################
*.VC.db