##########################
#### Unreal Generated ####
##########################
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Itermediate
*/Saved
*/Content/StarterContent
*/Content/StarterContent
*/Imports

##########################
###### VS Generated ######
##########################
*.VC.db
Learning/Content/StarterContent/
